*{
	margin: 0;
	padding: 0;
 }

 html, body{
 	hegiht: 100%;
 }

 body {
 	/*background-width: 10px;
 	display: flex;
 	flex-direction: column;
 	margin: auto;*/
	font-family: 'Montserrat';
 }



 /* ---------- HEADER ----------*/

 .header{
 	float:left;
 	width: 100%;
 	overflow: hidden;
 	border-style: solid;
 }

 .navbar {
	 font-size: 10pt;
 }


.market_info {
	padding-left:20px;
	margin-left: 20px;
	position: center;
	font-size: 12pt;
	text-align: center:;
}

.top-buffer {
	padding-top:100px;
 }

 /* ------------ MAIN ------------*/

#main {
	margin: 0px auto;
	position: center;
	width: 100%;
}


/* ------------ INDEX.PHP MAIN (TABLE) ------------ */

 #table {
	font-size: 10pt;
 	width: 80%;
 	margin: 0px auto;
 }

td img {
  width: 25px;
}


#positive {
	color: green;
}

#negative {
	color: red;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

 /* ------------ DONATE.PHP MAIN ------------*/
.donate-description {
	padding: 70px;
    background-image: url("https://images.unsplash.com/photo-1519995451813-39e29e054914?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0478ad15d7b018f8bb59f644f17184&auto=format&fit=crop&w=1650&q=80");
}

.addresses {
	padding: 20px;
}

.address {
	background-color: #ffffff;
	padding: 20px;
}

.address h6 {
	font-weight: bold;
}

.neo-add :hover {
    color: #85e085;
}

.btc-add :hover {
    color: #ffa64d;
}
.eth-add :hover {
    color: #666666;
}


/* ------------ FOOTER ------------ */

.footer-links {
	padding: 40px;
}

.item {
	padding: 5px;
	color: #ffffff;
}

.item:hover {
	text-decoration: none;
    color: black;
}


.copy {
	color: #ffffff;
    padding: 10px;
    font-size: 10pt;
}



