*{
	margin: 0;
	padding: 0;
 }

 html, body{
 	hegiht: 100%;
 }

 body {
 	background-width: 10px;
 	display: flex;
 	flex-direction: column;
 	margin: auto;
	font-family: 'Montserrat';
 }

 }

 .header{
 	float:left;
 	width: 100%;
 	overflow: hidden;
 	border-style: solid;
 }

 .navbar {
	 font-size: 10pt;
 }


.market_info {
	padding-left:20px;
	margin-left: 20px;
	position: center;
	font-size: 12pt;
	text-align: center:;
}

.top-buffer {
	padding-top:100px;
 }
/*-------------------*/
#main {
	margin: 0px auto;
	position: center;
	width: 100%;
}



 #table {
	font-size: 10pt;
 	width: 80%;
 	margin: 0px auto;
 }

td img {
  width: 25px;
}


#positive {
	color: green;
}

#negative {
	color: red;
}

footer {
	width: 100%;
	padding: 3%;
	color: white;

}

.footer-head {
	font-size: 11pt;
}

.footer-detail {
	font-size: 9pt;
}

.address {
	font-size: 12pt;
	font-weight: bold;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}


.td:hover {
	color: #D5D5D5; !important
}
